@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* その他のスタイルは以下に記述していきます */

/*------------------------*/
/*　　　　共通スタイル　　　*/
/*------------------------*/
html,body {
    color: #333;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.common-btn {
    display: inline-block;
    width: 200px;
    max-width: 100%;
    padding: 20px 10px;
    background-color: #FF4545;
    border: 2px solid transparent;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition:  .25s;
    border-radius: 15px;
}

.common-btn:focus,
.common-btn:hover {
    background-color: #fff;
    border-color: currentColor;
    color: #ff4545
}

img {
    width: 100%;
    height: auto;
}

/*------------------------*/
/*　　　　　ヘッダー　　　　*/
/*------------------------*/
.header-info {
    background-color: #000;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info-catch {
    font-size: 1.4rem;
    margin-left: 8%;
    color: #fff;
}

.header-info-address {
    font-size: 1.2rem;
    margin-right: 8%;
    color: #fff;
}

.header-contact {
    height: 100px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 280px;
    height: 50px;
    margin-left: 8%;
}

.header-tel {
    text-align: right;
    margin: 0 30px 0 auto;
}

.header-tel p {
    font-size: 1.2rem;
    line-height: 1.4;
}

#header-tel-number {
    font-size: 2.8rem;
}

.header-tel-btn {
    margin-right: 8%;
}

/*------------------------*/
/*　　　ファーストビュー　　*/
/*------------------------*/
.first-view-wrap {
    margin: 70px 0 80px 255px;
}

.first-view-catch {
    font-size: 3rem;
    line-height: 1.4;
    margin-bottom: 20px;
}

.first-view-document {
    font-size: 1.6rem;
    line-height: 1.4;
}

.first-view-content {
    display: flex;
    flex-wrap: wrap;
    width: 225px;
    margin: 20px 0 70px;
}

.first-view-content-short {
    height: 20px;
    line-height: 20px;
    width: 75px;
    background-color: #c4c4c4;
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 30px;
}

.first-view-content-long {
    height: 20px;
    line-height: 20px;
    width: 140px;
    background-color: #c4c4c4;
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 30px;
}

.first-view-content-short p {
    font-size: 11px;
}

.first-view-content-long p {
    font-size: 11px;
}

.btn-short-easy {

    height: 30px;
    width: 30px;
    border-radius: 50%;
    
}

/*------------------------*/
/*　　　　　ニュース　　　　*/
/*------------------------*/
.news {
    padding: 0 40px 40px;
    border: 3px solid #ff4545;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    max-width: 760px;
    margin: 40px auto;
    line-height: 1.5;
}

.news-heading {
    font-size: 16px;
    display: block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    background: #ff4545;
    color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.news-ttl {
    font-size: 24px;
    color: #ff4545;
    margin: 40px 0 25px;
}

.news-txt {
    text-align: left;
    font-size: 16px
}

/*------------------------*/
/*　　　　　 特徴 　　　　　*/
/*------------------------*/
.feature {
    margin: 30px auto;
    max-width: 1210px;
}

.feature-ttl {
    font-size: 2.4rem;
    background-color: #F5F5F5;
    padding: 20px 0;
    border-top: 5px solid #FF4545;
    text-align: center;
}

.feature-item {
    display: flex;
    max-height: 200px;
    margin-top: 30px;
}

.feature-item-img img {
    width: 350px;
    height: 200px;
}

.feature-item-right img {
    /* float: right; */
}

.feature-item-detail {
    padding: 10px 30px;
    font-size: 1.4rem;
}

.feature-item-ttl {
    font-size: 2.0rem;
    color: #FF4545;
    display: inline-block;
    border-bottom: 1px solid #333 ;
}

.feature-item-question {
    margin: 18px 0;
    line-height: 1.5;
}


/*------------------------*/
/*　　　　お店の写真  　　　*/
/*------------------------*/
.shop-picture {
    display: flex;
}

.shop-picture img {
    width: 380px;
    height: 275px;
}

/*------------------------*/
/*　　　　 代表挨拶 　　　　*/
/*------------------------*/
.greeting {
    margin: 30px 0;
    background: url(../img/factory.jpg) no-repeat;
    background-color: hsl(0, 0%, 96%);
    height: 400px;
    position: relative;
}

.greeting-left {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%,-50%);
}

.greeting-ttl {
    font-size: 2.0rem;
}

.greeting-txt {
    font-size: 2.0rem;
}

.greeting-right {
    font-size: 1.6rem;
    width: 650px;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%,-50%);
}

/*------------------------*/
/*    大切にしていること   */
/*------------------------*/
.important-ttl {
    font-size: 2.4rem;
}